.contact{
  background: #f5f7fa;
}
.submitbutton {
  display: flex;
  width: 10.125rem;
  height: 3.8125rem;
  padding: 1.25rem 2.5rem 1.3125rem 2.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.25rem;
  background: #482683;
  box-shadow: 0px 3px 12px 0px rgba(74, 58, 255, 0.18);
  color: var(--neutral-100, #fff);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;

  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25rem;
}

.contactbox{
  width: 22.65913rem;
height: 5.26588rem;
flex-shrink: 0;
border-radius: 0.25rem;
border: 1px solid var(--neutral-300, #EFF0F6);
background: var(--neutral-100, #FFF);

box-shadow: 0px 2px 6px 0px rgba(19, 18, 66, 0.07);
padding-left: 1.6rem;
}
form{
  column-gap: 20%;
  row-gap: 3.51rem;
  justify-content: center;
}