.home {
  background: #f5f7fa;
}
.image-container {
  display: none;
}
.home-row {
  display: flex;
  flex-direction: row;
  padding: 8%;
}
@media screen and (min-width: 991px) {
  .image-container {
    display: block;
  }
}
@media screen and (max-width: 991px) {
  .r {
    width: 0 !important;
  }
  .l {
    width: 100% !important;
  }
  .headertitle, .head {
    font-size: 2rem !important;
    line-height: normal !important;
  }
  .text {
    align-items: center !important;
  }
  .gloginbutton {
    color: var(--neutral-white, #fff);
    text-align: center;
    display: flex;
    height: 2.875% !important;
    padding: 0.875% 1.75% !important;
    justify-content: center;
    align-items: center;
    gap: 0.625% !important;
    border-radius: 0.25% !important;
  }
}
.roboimage {
  width: 25.9375rem;
  height: 27.0625rem;
}
.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}
.headertitle {
  text-align: left;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 4.75rem;
}
.aitech {
  color: #482683;
}
.headersubtitle {
  text-align: left;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}
.gloginbutton {
  color: var(--neutral-white, #fff);
  text-align: center;
  display: flex;
  height: 3.875rem;
  padding: 0.875rem 1.75rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.25rem;
  background: #482683;

  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
}
.gloginbutton:hover {
  background: #482683;
  color: var(--neutral-white, #fff);
}
