nav{
    background: #F5F7FA;
    padding: 1% 8.06% 1% 8.06%;
}

.logo{
    width: 122px;
    height: 32px;
}
.loginbutton{
    margin-left: 0.5rem;
    padding: 0.875rem 2rem;
    border-radius: 0.25rem;
    background: #482683;
    color: white;
}
.loginbutton:hover{
    background-color: #482683;
    color: white;
}

.navbar-nav{
    gap: 1.5rem;
}




